<p id="notice"><%= notice %></p>

<p>
  <strong>Average difference:</strong>
  <%= @prediction.average_difference %>
</p>

<%= link_to 'Edit', edit_prediction_path(@prediction) %> |
<%= link_to 'Back', predictions_path %>
