<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading"><h4>Recent Cryptocurrency Articles</h4></div>
  <% @articles.each do |article| %>
      <b><a href=<%= "articles/#{article.id}" %> class="list-group-item"><%= article.name %></a></b>
  <% end %>
  </ul>
</div>

<br>
<%= link_to 'Back to main page', currencies_path %>
