<div class="text-center">
    <h1>Make your portfolio</h1>

    <br><br>
    <p class="lead">Cryptocurrencies can be grouped such that risk is minimised and return is maximised.</p>
    <br>
    <p class="lead">Select a time when you would have invested in a portfolio.</p>
    <br>

<%= render 'form' %>
</div>