<h1> Cryptocurrency Analytics </h1>

<br><text>
  See how much you can gain by holding individual cryptocurrencies.
</text><br>
<p>
  <%= link_to 'Create new portfolio', new_portfolio_path %>
</p>
<br>
<br>

<div class="panel panel-default">
    <div class="panel-heading"><h4>Cryptocurrencies</h4></div>
    <div class="panel-body">
    Find out more about each one by clicking on it.
    </div>
    <% @currencies.each do |currency| %>
        <b><a href=<%= "currencies/#{currency.id}" %> class="list-group-item"><%= currency.full_name %></a></b>
    <% end %>
  </ul>
</div>

<p>
  See the latest news and how they affect prices.
</p>
<p>
  <%= link_to 'News articles', articles_path %>
</p>