<h1> Cryptocurrency Analytics </h1>

<br><text>
  See how much you can gain by holding individual cryptocurrencies.
</text><br>
<p>
  <%= link_to 'Create new portfolio', new_portfolio_path %>
</p>
<br>
<br>

<br><text>
  Find out more about each individual currency by clicking on it.
</text><br>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @currencies.each do |currency| %>
      <tr>
        <td><%= currency.full_name %></td>
        <td><%= link_to 'Show', currency %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>


<p>
  See the latest news and how they affect prices.
</p>
<p>
  <%= link_to 'News articles', articles_path %>
</p>