<p id="notice"><%= notice %></p>

<h1> Cryptocurrency Analytics </h1>

<br><text>Click on any of the currencies to view individual analytics
    as well as machine learning predictions.</text><br>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @currencies.each do |currency| %>
      <tr>
        <td><%= currency.full_name %></td>
        <td><%= link_to 'Show', currency %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br><br><br><text>
  Click to construct your own portfolio of cryptocurrencies, between two past dates and with your desired rate of return
</text><br>

<p>
  Portfolio selection
  <%= link_to 'Create new portfolio', new_portfolio_path %>
</p>

<br>
